@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
    box-sizing: border-box;
}


/* header styles start */

header{
    background: #ff880042;
    padding: 50px 240px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title{
    color: #131313;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
}

nav ul{
    display: flex;
    gap: 80px;
}

nav ul li{
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    color: #424242;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 500;
    justify-content: center;

}

/* header>banner styles */

.banner-content{
    width: 800px;
    margin: 0 auto;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 30px;
}

.banner-title{
    color: #131313;
    text-align: center;
    font-size: 3.5rem;
    font-weight: 700;
}

.banner-description{
    color:  #727272;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    margin: 30px 0px;
}

.primary-btn{
    color: #FFF;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 8px;
    background: #FF900E;
    padding: 20px 25px;
    border: none;
    cursor: pointer;
}

.banner img{
    width: 100%;
}


/* header styles end */



/* main>team container styles start */

main{
    max-width: 1440px;
    margin: 0px auto;
}

.team-container{
    display: flex;
    align-items: center;
}

.team-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    margin-top: 5.2rem;
    
}


.team-content{
    padding-right: 4.75rem;
    padding-left: 4.75rem;

}

.team-content-title{
    color: var(--Dark-03, #727272);
    font-size: 2.8rem;
    font-weight: 500;
    margin-bottom: 1.5rem;

}

.team-content-description{
    color: var(--Dark-03, #727272);
    font-size: 1.2rem;
    font-weight: 400;
    margin-bottom: 1.5rem;
    text-align: justify;
}

.t-span-1{
    color: #727272;
}
.t-span-2{
    color: #131313;
}
.t-span-3{
    color:#FF900E;
}

/* main>team container styles end */

/* main>features secton styles start */

.features-container{
    display: flex;
    margin-top: 5.2rem;
    gap: 145px;
}

.features-title{
    color: var(--Dark-01, #131313);
    font-size: 2.5rem;
    font-weight: 700;
    border-left: 5px solid orange;
    
}
.features-description{
    color: var(--Dark-03, #727272);
    font-size: 1rem;
    font-weight: 400;
    margin-top: 25px;
    margin-bottom: 30px;
}

 .features-card{
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    padding: 40px;
    margin-bottom: 2.5rem;
   
}
.f-card-title{
    color: var(--Dark-01, #131313);
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 8px;
}

.f-card-description{
    color: var(--Dark-03, #727272);
    font-size: 1rem;
    font-weight: 400;
}

.features-img img{
    border-radius: 8px;
}

.experience{
    border-radius: 8px;
    background: #FF900E;
    padding: 3rem;
    width: 340px;
    position: relative;
    bottom: 100px;
    right: 80px;
    text-align: center;
    margin: 0px;
}

.experience h4{
    color: #FFF;
    font-size: 3rem;
    font-weight: 700;
}

.experience p{
    color: #FFF;
    font-size: 1.5rem;
    font-weight: normal;
}

/* main>features section styles end */



/* main>facts secton styles start */
.facts{
    
}

.facts-title{
    color: var(--Dark-01, #131313);
    font-size: 2.6rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.facts-description{
    color: var(--Dark-03, #727272);
    font-size: 1rem;
    font-weight: 400;

}

.facts-content{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    margin-bottom: 180px;
}

.facts-card{
    background: #FFF;
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 38px;
}

.facts-card h4{
    color: var(--Dark-02, #424242);
    font-size: 2.6rem;
    font-weight: 600;
}

.facts-card p{
    color: var(--Dark-03, #727272);
    font-size: 1rem;
    font-weight: 400;

}

/* main>soponsors section styles start */
.sponsors{

}
.sponsors-title{
    color: var(--Dark-01, #131313);
    font-size: 2.8rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 25px;
}

.sponsors-description{
    color: var(--Dark-03, #727272);
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
}


.sponsors-content{
   display: flex;
   justify-content: space-around;
   margin-top: 50px;
   margin-bottom: 150px;
}
/* sponsors section styles end */


/* footer section styles start */
footer{
    background: #FFF4E7;
    text-align: center;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    margin: 130px 240px 215px 240px;
    padding: 40px;
}

.footer-text{
    color: var(--Dark-02, #424242);
    font-size: 1.2rem;
    font-weight: 400;
}
/* footer styles end */





/* responsive start */

/* responsive for mobile device */

    @media screen and (max-width:576px) {
    header{   
        padding: 30px;
    }

    nav{
        flex-direction: column;
    }

    nav ul{
        margin-top: 20px;
        gap: 16px;
    }
    .banner{
        padding-bottom: 60px;
    }
    .banner-content{
        width: auto;
        margin-top: 20px;
    } 

    .team-container{
        flex-direction: column;
    }

    .team-img{
        grid-template-columns: 1fr;
        margin-bottom: 25px;

    }

    /* features section reponsive */
    .features-container{
        flex-direction: column;
        padding: 10px 80px;
        margin: 0px;
        gap: 0px;
    }

    .feature-content{
        margin: 0px;
    }

   
    .features-img img{
        width: 100%;
        margin: 0px;
    }


    .experience{
        padding: 30px 10px;
        width: 250px;
        right: 60px;
    }
    
    /* facts responsive */

    .facts{
        padding: 0px 80px;
    }
    .facts-title{
        margin-bottom: 10px;
    }
    .facts-content{
        flex-direction: column;
        gap: 20px;
        margin-top: 25px;
        margin-bottom: 50px;
    }
    
     /* sponsors responsive */
  
     .sponsors{
        padding: 0px 80px;
     }
     .sponsors-content{
        flex-direction: column;
        gap: 10px;
        margin-top: 25px;
        margin-bottom: 25px;
        align-items: center;
     }
    
    /* footer responsive */
    footer{
        margin: 50px 80px 50px 80px;
        padding: 40px;
    }
}



/* responsive for midium device */

 @media screen and (min-width:576px) and (max-width:992px) {
    header{   
        padding: 40px;
    }

    nav{
        flex-direction: column;
    }

    nav ul{
        margin-top: 24px;
        gap: 20px;
    }

    .banner-content{
        width: auto;
        margin-top: 24px;
    } 

    .team-container{
        flex-direction: column;
    }

    .team-content-title{
        margin-top: 25px;
    }

    .team-img img{
        padding: 0px 10px;
        width: 100%;
        margin: 0px auto;
    }


    /* features section reponsive */
    .features-container{
        flex-direction: column;
        padding: 20px 80px;
        margin: 25px 0px 0px 0px;
        gap: 0px;
    }

    .feature-content{
        margin: 0px;
    }

    .features-img img{
        width: 100%;
        margin: 0px;
    }


    .experience{
        padding: 30px 10px;
        width: 250px;
        right: 60px;
        bottom: 50px;
    }


    /* facts responsive */

    .facts{
        padding: 0px 100px;
    }
    .facts-title{
        margin-bottom: 14px;
    }
    .facts-content{
        flex-direction: column;
        gap: 24px;
        margin-top: 28px;
        margin-bottom: 55px;
    }
    
     /* sponsors responsive */
  
     .sponsors{
        padding: 0px 100px;
     }
     .sponsors-content{
        flex-direction: column;
        gap: 14px;
        margin-top: 30px;
        margin-bottom: 30px;
        align-items: center;
     }
    
    /* footer responsive */
    footer{
        margin: 50px 80px 50px 80px;
        padding: 40px;
    }
}


/* responsive end */
